/*CSS RESET */

html{
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
ol, ul {
    list-style: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

/*Code*/

body{
    background-color: rgb(26, 26, 26);
    height: 100%;
}

.mainbox{
    border: 1px solid red;
    width: 80%;
    margin: 50% auto;
}

.nome{
    text-align: center;
    color: white;
}

.icone{
    width: 30px;
}