* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 234, 234);
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5.0rem;
    margin-bottom: 10px;
}

header a {
    text-decoration: none;
    color: black;
}

ul.navbar {
    display: flex;
    gap: 0.8rem;
    list-style-type: none;
}

ul.navbar li:nth-child(5) a{
    background-color: rgb(25, 0, 255);
    font-size: 90%;
    border-radius: 5px;
    color: white;
    padding: 0.8rem;
}

.container {
    height: calc(100vh - 50px);
    display: flex;
    gap: 1rem;
}

main, aside {
    background-color: rgb(231, 231, 231);
    border: 1px solid rgb(219, 219, 219);
    display: flex;
    font-weight: bold;
    font-size: 30px;
    height: 100%;
    padding: 1rem;
    height: 100%;
}

main {
    
    order: 2;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.8rem;
}

main img {
    width: 30%;
    border-radius: 15px;
    object-fit: cover;
}

aside {
    flex-basis: 25%;
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.0rem;
    font-size: 15px;
}

.botoes {
    display: flex;
    flex-direction: column;
    gap: 1.0rem;
}
.botoes button{
    justify-content: space-between;
    width: 100px;
}

aside button {
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(7, 7, 7);
    border-radius: 0.2rem;
    gap: 0.5rem;
    padding: 2px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside button:hover {
    cursor: pointer;
    background-color: rgb(218, 218, 218);
}


footer {
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

footer a {
    text-decoration: none;
    color: rgb(77, 66, 230);
}